@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
/*    font-family: 'Merriweather', serif;*/
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Merriweather', serif;
    line-height: 1.7;
    background-color: black;
}

.Header{
    height: 95vh;
    background-image: linear-gradient(to bottom right, #2595be00, #040e1800)
    , url("../img/disneyirl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    opacity: 70%;
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 88%, 68% 100%, 32% 100%, 0 84%, 0% 43%, 0 0);
    position: relative;
}

.text-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: rgb(219, 219, 219);
}

.text-box h1{
    text-transform: uppercase;
}

.heading-main{
    display: block;
    font-size: 5rem;
    left: 1.5rem;
    animation-name: left;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes left{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }

    80%{
        transform: translateX(30px) ;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.heading-sub{
    display: block;
    font-size: 2rem;
    left: 1.5rem;
    animation-name: right;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes right{
    0%{
        transform: translateX(1000px);
        opacity: 0;
    }

    80%{
        transform: translateX(-30px) ;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.btn-container{
   position: absolute;
   left: 40%;
}

.button2 {
    width: 110px;
    height: 55px;
    border: 2px solid #008CBA;
    background-color: #008CBA;
    animation-name: down;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
  }
  
  .button2:hover {
    width: 110px;
    height: 55px;
    background-color: #008bba00;
    border-radius: 2px solid #008CBA;  
    color: white;
  }

  @keyframes down{
    0%{
        transform: translateY(1000px);
        opacity: 0;
    }

    80%{
        transform: translateY(-30px) ;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.row{
    width: 85%;
    margin: 0 auto;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.col-1-of-2{
    float: left;
    width: 50%;
    padding: 1rem;
  }
  main h3{
      font-size: 2rem;
      text-transform: uppercase;
  }
  main p{
      font-size: 1.5rem;
      margin-bottom: 2rem;
  }
  .btn-text{
      font-size: 2rem;
      color: white;
      display: inline-block;
      text-decoration: none;
      border-bottom: 0.2rem solid #777;
      margin-top: 5rem;
      padding: 1rem;
      transition: all;
  }
  .btn-text:hover{
      background-color: #0c343d;
      box-shadow: 0 1rem 2rem #ddd6d6;
      transform: translateY(-5px);
  }
  .btn-text:active{
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(5px);
  }
  .gallery {
      position: relative;
  }
  .gallery_photo{
      width: 55%;
      box-shadow: 0 1.5rem 4 rgba(0, 0, 0, 0.8);
      border-radius: 0;
      position: absolute;
      outline-offset: 1.5rem;
      transform: all 0.3s;
      z-index: 10;
  }
  .gallery_photo-1{
      left: 1rem;
      top: 2rem;
  }
  .gallery_photo-2{
      right: 0;
      top: 10rem;
  }
  .gallery_photo-3{
      left: 10rem;
      top: 5rem;
  }
  .gallery_photo:hover{
      transform: scale(1.10);
      z-index: 20;
  }
  
footer{
    text-align: center;
}

.bottom-link{
    list-style: none;
    display: inline-block;
    margin: 1rem;
}   

.bottom-link a{
    text-decoration: none;
    display: block;
    color: var(--text);
}

.li-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    padding: 5px;
}

.bottom-corner{
    bottom: 100%;
}